*
!.gitignore
!app.json
!hotkeys.json
!workspaces.json
!daily-notes.json
!command-palette.json
!backlink.json
!appearance.json
!core-plugins.json
!community-plugins.json
!graph.json
!webviewer.json
!switcher.json
!templates.json
!types.json
!bookmarks.json

!themes/
!themes/**
!snippets/
!snippets/**
!plugins/
!plugins/**
!scripts/
!scripts/**
